@model PWEB_AulasP_2223.ViewModels.VehicleSearchViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style>
    .main {
        text-align: center;
        padding: 20px;
		margin: 20px;
        color: black;
        height: 100%;
        width: 100%;
		display: flex;
		justify-content: center;
		align-items: center-flex;
		flex-direction: column;
    }

    @*Styleimagetobeshownonlyinbody*@.image {
        width: auto;
        height: 350px;
        overflow: hidden;
        z-index: -1;
        padding: 20px;
		margin: 20px;
		border: 1px solid orange;
		border-radius: 10px;
		border-style: solid;
		border-color: orange;
    }

    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @*Stylingtextinordertoseeitproperlyabovetheimage*@.main h1 {
        font-size: 40px;
        font-weight: bold;
    }

    .main p {
        font-size: 20px;
    }

    .searchContainer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		height: 100%;
		width: 100%;
		background-color: #f5f5f5;
		border-radius: 10px;
		border: 1px solid orange;
		padding: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: 50px;
		margin-left: -15px;
	}

    .searchButton {
		color: white;
		border: none;
		border-radius: 10px;
		padding: 10px;
		margin: 10px;
		font-size: 45px;
	}
	
	.searchButton:focus {
		outline: none;
	}

	.form_group input {
		border: 1px solid orange;
		border-radius: 10px;
		padding: 10px;
		margin: 10px;
	}
	
	.form_group input:focus {
		outline: none;
	}
	
	.form_group select {
		border: 1px solid orange;
		border-radius: 10px;
		padding: 10px;
		margin: 10px;
	}

	.locationButton {
		color: white;
		border: none;
		border-radius: 10px;
		padding: 10px;
		margin: 10px;
	}

	.locationButton:hover {
		background-color: orange;
	}

	.locationButton:active {
		background-color: #ff6600;
	}

	.locationButton:focus {
		outline: none;
	}

	.categoryButton {
		color: white;
		border: none;
		border-radius: 10px;
		padding: 10px;
		margin: 10px;
	}

	.categoryButton:hover {
		background-color: orange;
	}
	
	.categoryButton:active {
		background-color: #ff6600;
	}
	
	.categoryButton:focus {
		outline: none;
	}
	
	.form_group select:focus {
		outline: none;
	}

	.pickupButton {
		color: white;
		border: none;
		border-radius: 10px;
		padding: 10px;
		margin: 10px;
	}
	
	.pickupButton:hover {
		background-color: orange;
	}
	
	.pickupButton:active {
		background-color: #ff6600;
	}

	.pickupButton:focus {
		outline: none;
	}
	
	.returnButton {
		color: white;
		border: none;
		border-radius: 10px;
		padding: 10px;
		margin: 10px;
	}

	.returnButton:hover {
		background-color: orange;
	}

	.returnButton:active {
		background-color: #ff6600;
	}

	.returnButton:focus {
		outline: none;
	}
</style>

<div class="main">
    <img style="align-self:center; width: 500px;" src="~/img/banner.png" alt="Car Rental Banner" />
    <div class="image">
        <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_649362670_395940.jpg"
             alt="Car Rental" />
    </div>
    <h1>Welcome to Our Car Rental Website</h1>
    <p>
        We offer a wide selection of rental cars to meet your needs. Whether you're looking for a compact car for a city
        trip or a spacious SUV for a family vacation, we've got you covered.
    </p>
    <ul style="padding: 0;">
        <form asp-action="Search" class="searchContainer">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="locationButton">
                <label asp-for="Location" class="control-label"></label>
                <select asp-for="Location" class="form-control" asp-items="ViewBag.Locations"></select>
            </div>
            <div class="categoryButton">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="ViewBag.Categories"></select>
            </div>
            <div class="pickupButton">
                <label asp-for="PickupDateAndTime" class="control-label"></label>
                <input asp-for="PickupDateAndTime" class="form-control" />
                <span asp-validation-for="PickupDateAndTime" class="text-danger"></span>
            </div>
            <div class="returnButton">
                <label asp-for="ReturnDateAndTime" class="control-label"></label>
                <input asp-for="ReturnDateAndTime" class="form-control" />
                <span asp-validation-for="ReturnDateAndTime" class="text-danger"></span>
            </div>
            <div class="searchButton">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </ul>
</div>
