@model PWEB_AulasP_2223.ViewModels.VehicleSearchViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style>
    .main {
        text-align: center;
        padding: 20px;
        color: black;
        height: 100%;
        width: 100%;
    }

    @*Styleimagetobeshownonlyinbody*@.image {
        width: auto;
        height: 300px;
        overflow: hidden;
        z-index: -1;
        padding: 20px;
    }

    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @*Stylingtextinordertoseeitproperlyabovetheimage*@.main h1 {
        font-size: 40px;
        font-weight: bold;
    }

    .main p {
        font-size: 20px;
    }


    .text-bg-dark {
        background-color: #343a40;
        color: white;
    }

    .searchContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #ff9e49;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
    }

    .searchContainer input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }

    .searchContainer button {
        width: 100px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #ff9e49;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .searchContainer button:hover {
        background-color: #ff7f00;
    }

    .searchContainer button:active {
        background-color: #ff7f00;
    }

    .searchContainer button:focus {
        outline: none;
    }

    .searchContainer select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }

    .searchContainer select:focus {
        outline: none;
    }

    .searchContainer label {
        font-weight: bold;
        margin-right: 10px;
    }

    .searchContainer .form-group {
        width: 100%;
        margin: 0 10px;
    }
</style>

<div class="main">
    <div class="image">
        <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_649362670_395940.jpg"
             alt="Car Rental" />
    </div>
    <h1>Welcome to Our Car Rental Website</h1>
    <p>
        We offer a wide selection of rental cars to meet your needs. Whether you're looking for a compact car for a city
        trip or a spacious SUV for a family vacation, we've got you covered.
    </p>
    <ul>
        <form asp-action="Search" class="searchContainer">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <select asp-for="Location" class="form-control" asp-items="ViewBag.Locations"></select>
            </div>
            <div class="form-group">
                <label asp-for="PickupDateAndTime" class="control-label"></label>
                <input asp-for="PickupDateAndTime" class="form-control" />
                <span asp-validation-for="PickupDateAndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDateAndTime" class="control-label"></label>
                <input asp-for="ReturnDateAndTime" class="form-control" />
                <span asp-validation-for="ReturnDateAndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </ul>
</div>
