@{
    ViewData["Title"] = "Política de Privacidade";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>O Nyan Cat não se importa muito com a privcidade mas fica descansado que os teus dados estão bem protegidos</p>
<img src="~/img/nyan_cat.gif" class="nyan-cat" />

