html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.registerBtn {
    background-color: transparent;
    border: none;
    color: #131313;
}

.loginBtn {
    background-color: #ff8e1c;
    border-radius: 8px;
    color: white;
    border: none;
    width: 180px;
}