@model PWEB.ViewModels.ReservaViewModel

@{
    ViewData["Title"] = "Veículos - Alugar";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Veículo</h1>

<h4>Efetuar reserva</h4>
<hr />
<div class="row">
    <p>Deseja proceder com a reserva?</p>
    <div class="col-md-4">
        <form asp-action="Rent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VeiculoId" />
            <div class="form-group">
                <label asp-for="DataLevantamento" class="control-label"></label>
                <input asp-for="DataLevantamento" class="form-control" />
                <span asp-validation-for="DataLevantamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEntrega" class="control-label"></label>
                <input asp-for="DataEntrega" class="form-control" />
                <span asp-validation-for="DataEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reservar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

